*, *:before, *:after {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  
  body {
  
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    background-color: black;
    padding-top: 50px;
  
  }
  
  input, button {
  
    border: none;
    outline: none;
    background: none;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
  
  }
  
  .cont {
  
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 550px;
    margin: 0 auto 100px;
    background: #fff;
  
  }
  
  .form {
  
    position: relative;
    width: 640px;
    height: 100%;
    padding: 50px 30px 0;
  
  }
  
  .sub-cont {

    overflow: hidden;
    position: absolute;
    left: 640px;
    top: 0;
    width: 900px;
    height: 100%;
    padding-left: 260px;
    background: #fff;
  
  }
  
  button {
  
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
  
  }
  
  .img {

    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
    
  
  }
  
  .img:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 900px;
    height: 100%;
    background-image: url("https://images.pexels.com/photos/8442326/pexels-photo-8442326.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
  
  }
  
  .img:after {
  
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  
  }
  
  
  .img__text {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
  }
  
  .img__text h2 {
  
    margin-bottom: 10px;
    font-weight: normal;
    display: flex;
  }
  
  h2 {
  
    width: 100%;
    font-size: 26px;
    text-align: center;
  
  }
  
  label {
  
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
  
  }
  
  label span {
  
    font-size: 15px;
    color: #cfcfcf;
    text-transform: uppercase;
  
  }
  
  input {
  
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
  
  }
  
  .forgot-pass {
  
    margin-top: 15px;
    text-align: center;
    font-size: 15px;;
  
  }
  
  .forgot-pass:hover {
  
    cursor: pointer;
    text-decoration: none;
    color: black;
    
  }
  
  .submit {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #d4af7a;
    text-transform: uppercase;

  }

  .submit:hover {

    cursor: pointer;
    text-decoration: none;
    color: black;
  }

  .submit {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #d4af7a;
    text-transform: uppercase;

  }

  .submit:hover {

    cursor: pointer;
    text-decoration: none;
    color: black;
  }