*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3 , 1fr);
}

.name{
    display: grid;
    grid-area: 1/2/1/2;
    font-size: 42px;
    font-weight: 800;
    padding: 75px 0 0 0;
    color: #d4af7a;
    cursor: pointer;
}

.content {
    padding-top: -50px;
    display: grid;
    grid-area: 2/2/2/4;
}

.h1 {
    font-size: 30px;
    padding: 0 0 10px 0;
}

.p1 {
    font-size: 25px;
    padding: 0 0 10px 0;
}

.p2{
    font-size: 25px;
    padding: 0 0 10px 0;
}

.content-email {
    display: grid;
    padding: 10px 20px;
    background: #d4af7a;
    color: #ffffff;
    text-decoration: none;
    justify-self: flex-start;
    border-radius: 5px;
}

.content-emai:hover {
    cursor: pointer;
    color: black;
}

.p3 {
    font-size: 25px;
    padding: 10px 0 10px 0;
}